@media (max-width: 500px) {
    // Presentacion
    header {
        height: 650px;
        background-image: url(img/mobile/image-hero.jpg);
    }

    .loopstudios {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile,
    .mobile__burguer {
        display: block;
    }

    .navegacion {
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        padding: 0px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
    }

    .show {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .mobile {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion__lista-item {
        display: flex;
        width: 100%;
        text-align: left;
        padding: 0px 50px;
        font-size: 2em;
    }

    .banner__contenedor {
        width: 90%;
        margin: 0 5%;
        position: absolute;
        padding: 0.3rem;
        top: 25%;
        left: 0;
        
    }

    main {
        width: 90%;
        margin: 0 auto;
    }

    .creaciones__contenedor {
        display: block;
    }

    .creaciones__titulo {
        text-align: center;
    }

    .boton1 {
        visibility: hidden;
    }
    .boton2 {
        visibility: visible;
        display: block;
        margin: auto;
    }
    .creaciones__grid {
        display: block;
        grid-template-columns: none;
        gap: 0;
        justify-content: none;
        .creaciones__background {
            display: block;
            width: 100%;
            height: 100px;
            background-size: cover;
        }
        .creaciones__grid-item {
            width: 100%;
            height: 100px;
            margin: 25px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .creaciones__background-earth {
        background: no-repeat url(img/mobile/image-deep-earth.jpg);
    }
    .creaciones__background-night {
        background: no-repeat url(img/mobile/image-night-arcade.jpg);
    }
    .creaciones__background-soccer {
        background: no-repeat url(img/mobile/image-soccer-team.jpg);
    }
    .creaciones__background-grid {
        background: no-repeat url(img/mobile/image-grid.jpg);
    }
    .creaciones__background-vr {
        background: no-repeat url(img/mobile/image-from-above.jpg);
    }
    .creaciones__background-pocket {
        background: no-repeat url(img/mobile/image-pocket-borealis.jpg);
    }
    .creaciones__background-curiosity {
        background: no-repeat url(img/mobile/image-curiosity.jpg);
    }
    .creaciones__background-fisheye {
        background: no-repeat url(img/mobile/image-fisheye.jpg);
    }

    // Footer copyright
    .copy {
        flex-direction: column;
        .copy__navegacion {
            .copy__navegacion-lista {
                .navegacion__lista-itemc {
                    display: block;
                }
            }
        }
        .s_mobile {
            display: block;
        }
    }

    .s_desktop {
        display: none;
    }
    .sociales__contenedorc {
        padding-bottom: 1.5rem;
    }
}
